@import "tailwindcss";

@theme {
  --text-sm: 0.75rem;
  --text-md: 0.75rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Equivalent for Firefox on macOS */
}
