---
import Project from "../assets/components/project.astro";
import Layout from '../layouts/Layout.astro';
---
<Layout title="Project Page">
    <div class="w-full h-fit"><Project /></div>
</Layout>
